.comment-container {
  margin-left: 75px;
}

.comment-container a {
  text-decoration: none;
}

#add-comment-button,
#back-button {
  background-color: #180c2b;
  margin-top: 15px;
  margin-bottom: 25px;
}
