.detail-image {
  width: 200px;
  height: auto;
  margin: 5px 0px 5px 0px;
  border-radius: 5%;
}

.detail-container {
  margin-left: 100px;
  position: relative;
  background-color: black;
  color: whitesmoke;
}

.mineral-details {
  text-align: left;
  margin: 25px;
}

.mineral-description {
  text-align: justify;
  margin: 25px;
}

#detail-button {
  background-color: #180c2b;
  margin-bottom: 25px;
}
