.register-form {
  margin-left: 75px;
}

.register-form form {
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-input {
  margin: 10px;
}

#register-button {
  background-color: #180c2b;
  margin: 10px;
}
